<style>
a{
    color:black;
    text-decoration: none;
}
/* .saw는 모든 선택자가 class인 saw를 선택한다. */
h1 {
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;  
    padding:20px;     
}
ol {
    border-right:none;
}
#grid ol{
    padding-left:33px;
    border-right:1px solid gray;
    margin:0;
    padding:20px;
    padding-left:40px;
}
body{
    margin:0;
}
/* a는 선택자(Selector) color:red;는 선언, 효과(Declaration) 
color는 속성(Property) red는 값(Value)*/
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
#grid #article{
    padding-left:25px;
}
@media(max-width:800px){
    #grid{
    display:block;
    }
    ol {
    border-right:none;
    }
    h1 {
    border-bottom:none;
    }
}
</style>