body{
    margin:0;
}
ul{
    list-style-type: none;
    padding-left:0;
    margin:0;
    float:left;
    padding-top:6px;
    font-weight:bold;
    }
li{
    float:left;
    padding-left:17px;
    color:white;
}
#header2{
    float:left;
}
    #header2 img{
        vertical-align: middle;
    }
    #header2 input{
        width:272px;
        height:30px;
        border:1px;
        padding:0;
        border-radius:5px;
        color:rgb(186,187,190);
        background-color: rgb(37,42,48);
        border-color:rgb(60,63,67);
        border-style: solid;
    }
#icon{
    float:right;
    padding-top:6px;
}
    #icon img{
        vertical-align: middle;
    }
.header{
    background-color:rgb(37,42,48);
    display:block;
    padding:16px;
    padding-right:32px;
    padding-left:32px;
    font-size:14px;
    line-height:1.5;
    align-items:center;
    height:30px;
}
a{
    text-decoration:none;
    color:white;
}
.header2{
    height:32px;
    background-color:rgb(37,42,48);
    padding:16px;
    overflow:hidden;
}
#h2left{
    float:left;
    padding-top:4px;
}
#h2right{
    float:right;
}
#h2ghcat{
   text-align:center;
   overflow:hidden;
}
@media(max-width:799px){
    .header{display:none;}
}
@media(min-width:800px){
    .header2{display:none;}
}