.box1{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box2{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box3{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box4{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box5{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box6{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box7{
    width: 200px;
    height: 100px;
    background-color:rgb(50, 196, 50);
    margin: 10px;
}
.box8{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box9{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}
.box10{
    width: 200px;
    height: 100px;
    background-color:darksalmon;
    margin: 10px;
}